# LaTeX

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot

# Python

**pycache**/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual environments

.venv/
venv/
env/

# VS Code

.vscode/

# macOS

.DS_Store

# Windows

Thumbs.db

# Obsidian

.obsidian/workspace.json
.obsidian/cache/
.obsidian/workspace
